# There are the development environment username and password. You can change them if you are running asinble on your
# physical machine and not on a virtual machine. Right now it has not been tested with other values.
username: developer
password: password

# Your full name so we can see who has done the contributions
git_user: ~

# Your profesional email. The Github account is personal, but it can be linked to many email addresses
git_email: ~

repository_default_dest: ~/workspace/projects/
repositories:
  #  repo_name: git_repository_address
  #
  #  repo_name:
  #    dest: /custom/destination/path # Optional field
  #    repository: git_repository_address
  #    ssh: ssh_key_path # Optional field

